.main {
  position: absolute;
  padding-top: 28em;
  width: 100%;
  //color: $primary-color;
  &__section {
    &__title {
      text-align: center;
    }
    &__container {
      padding-top: 2em;
      background-color: black;
      &__list {
        text-align: center;
        &__item {
          color: white;
          padding-bottom: 2em;
          i {
            font-size: 4em;
          }
        }
      }
    }
  }
}

.section-top {
  background-color: black;
  color: white;
  border-top: 2px solid blue;
}

canvas {
  max-height: 30em;
}
