.main {
  margin-top: -0.7em;
  &__section {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      &__button-containt {
        margin-top: 5em;
      }

      &__list {
        font-size: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: initial;

        &__item {
          margin-bottom: 0.6em;
        }
      }
      &__content-box {
        display: grid;
        grid-template-columns: repeat(22, 8em);
        grid-template-rows: repeat(12, 6em);

        &__window {
          grid-column-start: 1;
          grid-column-end: 23;
          grid-row-start: 1;
          grid-row-end: 13;

          background-color: white;
          color: black;
        }
      }
    }
  }
}

.section-top {
  color: white;
}

.main__section__container {
  position: absolute;
  width: 100%;
}

canvas {
  z-index: -1;
}
