.header {
  width: 100%;

  background-image: url(images/banner-image-01.jpeg);
  background-size: cover;

  margin-bottom: -2.4em;
  padding-bottom: 2.4em;
  border-bottom: 1px solid white;

  &__container {
    &__title {
      text-align: center;
    }
    &__subtitle {
      text-align: center;
    }
  }
}
